<?xml version="1.0"?>
<launch>
  <!-- <include file="$(find iiwa_moveit)/launch/demo.launch"/> -->

  <!-- name of the iiwa to use, useful in case of multiple robots. Every robot is gonna have its nodees/topics under a namespace with the same name. -->
  <arg name="robot_name" default="iiwa"/>
    <!-- Model of the iiwa to use : iiwa7, iiwa14 -->
  <arg name="model" default="iiwa14"/>

  <group ns="$(arg robot_name)" >
    <node name="pytest" pkg="iimoveit" type="pytest.py" respawn="false" output="screen">
    </node>
  </group>

</launch>